# Add files here that you don't want to trigger invalidation of the docker cache
# Note: You won't be able to access ignored files while building the image
# but you will be able to access them when running the container
docker/run.sh
docker/px2_run.sh
docker/Dockerfile
docker/Dockerfile.cpu
docker/Dockerfile.gpu
docker/Dockerfile.arm
.git
.dockerignore
data/
autoware
.github/
