[submodule "mcav_interfaces"]
	path = mcav_interfaces
	url = git@github.com:Monash-Connected-Autonomous-Vehicle/mcav_interfaces.git
[submodule "project_tracker"]
	path = project_tracker
	url = git@github.com:Monash-Connected-Autonomous-Vehicle/project_tracker.git
[submodule "pure_pursuit"]
	path = pure_pursuit
	url = git@github.com:Monash-Connected-Autonomous-Vehicle/pure_pursuit.git
[submodule "velocity_planner"]
	path = velocity_planner
	url = git@github.com:Monash-Connected-Autonomous-Vehicle/velocity_planner.git
[status]
	submodulesummary = 1
[diff]
	submodule = log
[submodule "SD-VehicleInterface"]
	path = SD-VehicleInterface
	url = git@github.com:Monash-Connected-Autonomous-Vehicle/SD-VehicleInterface.git
